<footer class="site-footer">
  <div class="container footer-grid">
    <div>
      <strong>Bay Area Professional Counseling</strong>
      <div>6576 Airport Boulevard, Suite C 200<br>Mobile, AL 36608</div>
    </div>
    <div>
      <strong>Connect</strong>
      <a href="tel:+12514590200">(251) 459-0200</a><br>
      <a href="mailto:bayareacounselingmobile@gmail.com">bayareacounselingmobile@gmail.com</a>
    </div>
  </div>
  <div class="container footer-credit">
    <span class="footer-design-credit">Designed with Love in San Francisco.</span>
    <span class="footer-copyright">&copy; 2026 Bay Area Professional Counseling. All rights reserved.</span>
  </div>
</footer>
